.navbar {
  header {
    background: none;
    color: grey;
    box-shadow: none;
  }
  .previous-icon {
    border: 1px solid;
    border-radius: 50%;
    background: white;
    color: grey;
    padding: 5px;
    cursor: pointer;
  }

  .navbar-btn {
    background-color: transparent !important;
  }

  .navbar-btn-icon {
    color: grey;
    font-size: 22px;
  }
  margin-bottom: 20px;
}
