.sidebar-back {
  background: url("../../public/img/login.jpg") !important;
  background-size: cover;
  color: white;
  height: 100%;
}

.opacity-back {
  background-color: #000000a8;
  padding: 0px 15px;
  height: 100%;
  overflow-y: scroll;
}

.title-tool {
  padding-left: 0px !important;
  justify-content: center !important;
  padding-top: 5px !important;
  font-size: 22px !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 56, 58);
}
